 /*here the body is the css part in the code. it is specifying the background colourin the code using css file*/
 body
 {
     background-color: #9ED5C5;
 }

 hr
 {
     background-color: white;
     border-style: none;
     height: 2px; /*here the height means the border height that it is written in replace of hr to increase the height of the border*/
     width: auto; /*here the width of the line is auto cause we don't know from where we are going to view the wensite be it phone or computer*/
 }
 
 img
 {
     height: 130px;
 }

h1
 {
    font-family: cursive;
    color: #22577E;
 }

 h2
 {
    color: #22577E;
 }

 h3
 {
    color: #22577E;
 }

 p
 {
    font: italic 1.2em "Fira Sans", serif;
 }
 li
 {
    font-style: italic;
 }
 td
 {
    font-style: italic;
 }
